@model IEnumerable<CarRental_DTO.VehicleTypeDTO>

@{
    ViewData["Title"] = "Vehicle Types";
}
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

<table class="table align-middle mb-0 bg-white table-hover">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypeDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleTypeId" class="btn btn-outline-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.VehicleTypeId" class="btn btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.VehicleTypeId" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
