@model CarRental_DTO.ClientDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Client</h1>

@if (ViewBag.IsValid != null && ViewBag.IsValid == false)
{
    <h3 style="color:red; font-weight:bold;">This client can't be deleted because they have reservations!</h3>
}else
{
    <h3>Are you sure you want to delete this client?</h3>
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @if (@Model?.Gender?.ToUpper() == "F")
            {
                <p>Female</p>
            }
            else if (@Model?.Gender?.ToUpper() == "M")
            {
                <p>Male</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverLicenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalIdcardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalIdcardNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientId" />
        <input type="submit" style="margin:5px 0px 5px 0px;" value="Delete" class="btn btn-danger" />
    </form>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>
