@model CarRental_DTO.ClientDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Client Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @if (@Model.Gender?.ToUpper() == "F"){
                <p>Female</p>
            }
            else if (@Model.Gender?.ToUpper() == "M"){
                <p>Male</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverLicenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalIdcardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalIdcardNumber)
        </dd>
    </dl>
</div>
    <a asp-action="Edit" style="margin:0px 0px 5px 0px;" class="btn btn-outline-warning" asp-route-id="@Model?.ClientId">Edit</a>
    <a asp-action="CreateForClientOrVehicle" asp-controller="Reservation" style="margin:0px 0px 5px 0px;" class="btn btn-outline-success" asp-route-clientId="@Model?.ClientId">Create a Reservation</a>
    <a asp-action="Delete" style="margin:0px 0px 5px 0px;" asp-route-id="@Model?.ClientId" class="btn btn-outline-danger">Delete</a>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>
