@model IEnumerable<CarRental_DTO.ClientDTO>

@{
    ViewData["Title"] = "Clients";
    CarRental_DTO.ClientDTO? FilterClient = (CarRental_DTO.ClientDTO?)ViewData["FilterClient"];
}
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

@*Form for searching Clients*@
<form asp-controller="Client" asp-action="SearchClients" method="get">
        <div class="input-group">

            <input id="firstname" name="Firstname" value="@FilterClient?.Firstname" type="text" class="form-control rounded" style="margin:5px;" placeholder="Firstname" aria-label="Search" aria-describedby="search-addon" />
            <input id="lastname" name="Lastname" value="@FilterClient?.Lastname" type="text" class="form-control rounded" style="margin:5px;" placeholder="Lastname" aria-label="Search" aria-describedby="search-addon" />
            <input id="birthdate" name="Birthdate" value="@FilterClient?.Birthdate?.ToString("yyyy-MM-dd")" type="date" class="form-control rounded" style="margin:5px;" placeholder="Birthdate" aria-label="Birthdate" aria-describedby="search-addon" />

            <select id="gender" name="Gender" class="form-select form-control rounded" style="margin:5px;">
                <option selected value="">Gender</option>
                @if (FilterClient?.Gender == "M")
                {
                    <option selected value="M">Male</option>
                }else
                {
                    <option value="M">Male</option>
                }
                @if (FilterClient?.Gender == "F")
                {
                    <option selected value="F">Female</option>
                }else
                {
                    <option value="F">Female</option>
                }
            </select>

            <input id="driverLicenceNumber" name="DriverLicenceNumber" value="@FilterClient?.DriverLicenceNumber" type="text" class="form-control rounded" style="margin:5px;" placeholder="Driver Licence Number" aria-label="Search" aria-describedby="search-addon" />

            <button type="submit" class="btn btn-outline-primary" value="firstname">Search</button>
        </div>
</form>
<table class="table align-middle mb-0 bg-white table-hover">
    <thead class="bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverLicenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalIdcardNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverLicenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalIdcardNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId" class="btn btn-outline-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ClientId" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ClientId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*Pagination*@
<div>
    @{
        await Html.RenderPartialAsync("_Pagination", new ViewDataDictionary(this.ViewData) { { "ActionName", "Index" }, { "ControllerName", "Client" } });
    }
</div>
